body{
    background: #FFFFFF;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0.22rem;
    box-sizing: border-box;
    background: #e4e3e3;
}
header > h3{
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top:0.2rem;
}
header > input{
    display: block;
    width: 100%;
    height:0.6rem;
    color:#333333;
    outline: none;
    background: #FFFFFF;
    border-radius: 0.05rem;
    margin-bottom: 0.25rem;
}
main{
    padding: 0 0.22rem;
    margin-top:2rem;
}
section{
    margin-bottom: 0.1rem;
}
section > h3{
    font-weight: normal;
    font-size: 0.25rem;
    height: 0.8rem;
    line-height: 1rem;
}
section > div {
    height: 0.8rem;
    border-bottom: 0.01rem solid #aaaaaa;
}
section > div > a{
    line-height: 0.8rem;
    font-size: 0.25rem;
    display: block;
    width: 100%;
    height: 100%;
}
.aside{
    position: fixed;
    right: 0.1rem;
    width: 0.5rem;
    height: auto;
    top: 50%;
    transform:translateY(-50%);
}
.aside > li{
    width:100%;
    height: 0.5rem ;
    color: #333333;
    text-align: center;
    line-height: 0.5rem;
}